*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(239, 250, 242);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(1, 148, 128);
}

h3{
    line-height: 2rem;
}

a{
    text-decoration: none;
    color: inherit;
}

.link{
    margin: 2rem;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem auto;
}

#container .question-container{
    width: 60%;
    padding: 1rem;
}

#container .options-container{
    width: 100%;
}

#container .option-container{
    width: 60%;
    height: 40px;
    margin: 1rem auto;
    padding: 0.5rem 0.5rem;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px  solid rgb(1, 148, 128);
}

#container .option-alphabet{
    width: 7%;
    height: 40px;
    padding: 0.5rem;
    background: rgb(1, 148, 128);
    color: rgb(239, 250, 242);
    margin-left: 0;
}

#container .option{
    width: 90%;
    height: 40px;
    padding: 0.5rem;
}

.btn-container .btn-start{
    border-radius: 15px;
    background: rgb(1, 148, 128);
    color: rgb(239, 250, 242);
    padding: 1rem 1.5rem;
    margin: 2rem auto;
    cursor: pointer;
}

.correct-option{
    background: rgb(3, 204, 3);
    transition: background 1s ease;
}

.wrong-option{
    background: rgb(224, 98, 98);
    transition: background 1s ease;
}

/* #loading{
    display: block;
    width: 200px;
    height: 200px;
    background: white;
    border: 10pxx solid rgb(1, 148, 128);
} */
