*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(239, 250, 242);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(1, 148, 128);
}

h3{
    line-height: 2rem;
}

a{
    text-decoration: none;
    color: inherit;
}

.link{
    margin: 2rem;
    cursor: pointer;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem auto;
}

#container .question-container{
    max-width: 650px;
    width: 90%;
    padding: 1rem;
}

#container .options-container{
    width: 100%;
    display: block;
}

#container .option-container{
    max-width: 600px;
    width: 60%;
    height: auto;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px  solid rgb(1, 148, 128);
}

#container .option-alphabet{
    max-width: 50px;
    width: 15%;
    height: auto;
    padding: 0.5rem;
    padding-left: 1rem;
    background: rgb(1, 148, 128);
    color: rgb(239, 250, 242);
    margin-left: 0;
}

#container .option{
    width: 85%;
    height: 100%;
    padding: 0.5rem;
}

.btn-container .btn-start{
    border-radius: 15px;
    background: rgb(1, 148, 128);
    color: rgb(239, 250, 242);
    padding: 1rem 1.5rem;
    margin: 2rem auto;
    cursor: pointer;
}

.correct-option{
    background: rgb(3, 204, 3);
    transition: background 1s ease;
}

.wrong-option{
    background: rgb(224, 98, 98);
    transition: background 1s ease;
}

#loading{
    display: block;
    width: 70px;
    height: 70px;
    border-top: 7px solid rgb(1, 148, 128);
    border-bottom: 7px solid rgb(1, 148, 128);
    border-radius: 50%;
    margin: 4rem;
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} 
